<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="SQLiteEditor" Name="SQLiteEditor" Manufacturer="tscube" Version="2.4.0.0" UpgradeCode="{A02A0C9D-338C-4099-A7C4-CBE212191E50}">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="SQLiteEditor" />
    </Feature>
  </Package>
</Wix>
